<!DOCTYPE html>
<html lang="en">
 
<head>
 
    <style>
     
 
        .gif-container-1 {
            max-width: 170px; /* Adjust the maximum width */
            max-height: 170px; /* Adjust the maximum height */
        }
 
        .gif-container-1 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px; /* Optional: Add border-radius for a rounded look */
        }
    </style>
    <title>Contact Us</title>
</head>
 
<body>
 
    <h1 class="m-4">Contact us</h1>
 
    <div class="bg-white m-4 p-4 shadow">
        <ul class="fs-5">
            <li>For any concerns, please call at our numbers between 9 AM to 9 PM:</li>
            <ul>
                <li>800 OPSNOW (677669)</li>
            </ul>
            <li>You can also visit our offices and get insights into how our agents serve food at different places.</li>
            <ul>
                <li>Al Ghazal Street, Al Reem Island, Abu Dhabi</li>
                <li>Dubai Hills, Dubai</li>
            </ul>
            <li>You can also email your suggestions and feedback at <mark> support@bespinglobal.ae</mark></li>
        </ul>
    </div>
 
    <center>
        <div class="gif-container-1">
            <img src="/assets/images/03-28-02-784_512.gif" alt="gif">
        </div>
    </center>
 
</body>
 
</html>